{include file="../Overall/Header.tpl"}
<div id="wrapper">
  {include file='../Overall/Navbar_admin.tpl'}
  <div id="page-wrapper">
    <div class="col-md-12 contenedorPrincipal">
      <div class="col-md-12">
        <h4>Ingrese dato usuario :</h4>
      </div>

      <form action="carrito.php" method="post">
        <div class="row">
          <div class="col-md-12">
            <span class="help-block">Ingrese cedula del usuario</span>
            <input type="text" class="form-control" placeholder="Cedula" name="cedula"required>
          </div>     
        </div>
       <br>
        <div class="row">
          <div class="col-md-3">
            <button type="submit" class="btn btn-info">Continuar</button> 
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


